body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-color: #01204E;
  color: #F6DCAC;
}

nav {
  background-color: #01204E;
}

nav a {
  color: #FAA968;
  text-decoration: none;
  margin: 0 7.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #FAA968;
}

.arrow-button:hover {
  color: #F85525;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 
01204E
028391
F6DCAC
FAA968
F85525 */